.u-section-1 {
  background-image: none;
  min-height: 848px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 820px);
  height: 216px;
  background-image: none;
  margin: 632px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 415px;
  height: 447px;
  margin: -839px calc(((100% - 1140px) / 2) + -29px) 0 auto;
}

.u-section-1 .u-image-1 {
  width: 563px;
  min-height: 678px;
  background-image: url("images/91ee7b297c915c2fe4ca29f30e39699f780bdf6b0db6c26271ddb669c1841819b20277c0c7bbadcbed9c0b490f478ef8413a1b9d6363c1dd00c0ce_1280.jpg");
  background-position: 59.6% 50%;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: -357px calc(((100% - 1140px) / 2) + 76px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  margin-bottom: 0;
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 604px;
  min-height: 568px;
  margin: -713px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  line-height: 1;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 199px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 248px;
  width: 248px;
  background-image: none;
  margin: 30px auto -130px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 820px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 76px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 6.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 76px);
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 810px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 35px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 560px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 825px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 658px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 0 30px;
}

.u-section-2 .u-shape-1 {
  height: 306px;
  animation-duration: 1000ms;
  width: 313px;
  margin: 15px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: none;
  text-decoration: underline !important;
  margin: -263px auto 0;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: none;
  text-decoration: underline !important;
  margin: 24px auto 0 78px;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: none;
  text-decoration: underline !important;
  margin: 24px auto 0 78px;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 339px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/081.jpg");
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 339px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/0a0a4f43-c514-41f5-b264-b20b0bf89d98_rw_1920.jpg");
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 678px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/DSC01368-42.jpg");
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 362px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-2 .u-shape-1 {
    height: 238px;
    width: 268px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -208px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 12px;
    margin-left: 18px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 18px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 280px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 280px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 559px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1912px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 847px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 357px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 357px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 1070px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1923px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -100px;
    margin-bottom: -100px;
    min-height: 670px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 536px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 268px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 803px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -155px;
    margin-bottom: -155px;
    min-height: 75px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 337px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 169px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 506px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 180px;
}

.u-section-3 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 300px;
  min-width: 124px;
  white-space: nowrap;
  margin: 37px auto 60px;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}