.u-section-1 .u-sheet-1 {
  min-height: 2098px;
}

.u-section-1 .u-gallery-1 {
  margin-top: 63px;
  margin-bottom: 0;
  height: 2148px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto auto;
}

.u-section-1 .u-back-slide-1 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-1 {
  padding: 20px;
}

.u-section-1 .u-back-slide-2 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-2 {
  padding: 20px;
}

.u-section-1 .u-back-slide-3 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-3 {
  padding: 20px;
}

.u-section-1 .u-back-slide-4 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-4 {
  padding: 20px;
}

.u-section-1 .u-back-slide-5 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-5 {
  padding: 20px;
}

.u-section-1 .u-back-slide-6 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-6 {
  padding: 20px;
}

.u-section-1 .u-back-slide-7 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-7 {
  padding: 20px;
}

.u-section-1 .u-back-slide-8 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-8 {
  padding: 20px;
}

.u-section-1 .u-back-slide-9 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-9 {
  padding: 20px;
}

.u-section-1 .u-back-slide-10 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-10 {
  padding: 20px;
}

.u-section-1 .u-back-slide-11 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-11 {
  padding: 20px;
}

.u-section-1 .u-back-slide-12 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-12 {
  padding: 20px;
}

.u-section-1 .u-back-slide-13 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-13 {
  padding: 20px;
}

.u-section-1 .u-back-slide-14 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-14 {
  padding: 20px;
}

.u-section-1 .u-back-slide-15 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-15 {
  padding: 20px;
}

.u-section-1 .u-back-slide-16 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-16 {
  padding: 20px;
}

.u-section-1 .u-back-slide-17 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-17 {
  padding: 20px;
}

.u-section-1 .u-back-slide-18 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-18 {
  padding: 20px;
}

.u-section-1 .u-back-slide-19 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-19 {
  padding: 20px;
}

.u-section-1 .u-back-slide-20 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-20 {
  padding: 20px;
}

.u-section-1 .u-back-slide-21 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-21 {
  padding: 20px;
}

.u-section-1 .u-back-slide-22 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-22 {
  padding: 20px;
}

.u-section-1 .u-back-slide-23 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-23 {
  padding: 20px;
}

.u-section-1 .u-back-slide-24 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-24 {
  padding: 20px;
}

.u-section-1 .u-back-slide-25 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-25 {
  padding: 20px;
}

.u-section-1 .u-back-slide-26 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-26 {
  padding: 20px;
}

.u-section-1 .u-back-slide-27 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-27 {
  padding: 20px;
}

.u-section-1 .u-back-slide-28 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-28 {
  padding: 20px;
}

.u-section-1 .u-back-slide-29 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-29 {
  padding: 20px;
}

.u-section-1 .u-back-slide-30 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-30 {
  padding: 20px;
}

.u-section-1 .u-back-slide-31 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-31 {
  padding: 20px;
}

.u-section-1 .u-back-slide-32 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-32 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1721px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1771px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5376px;
  }

  .u-section-1 .u-gallery-1 {
    height: 5426px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 16228px;
  }

  .u-section-1 .u-gallery-1 {
    height: 16278px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 10199px;
  }

  .u-section-1 .u-gallery-1 {
    height: 10249px;
  }
}